@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.custom-stepper {
  /* width: 100%; */
  width: 1200px;
  /* margin: auto; */
  padding: 16px 0;
}

